/* header part*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    background-color:var(--color-primary) ;
}

.header-content {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/* header brand */
.brand {
    display: flex;
    align-items: center;
    height: var(--header-height);
}

.brand__tagline {
    font-size: 2.4rem;
    font-weight: 800;
    margin-right: 20px;
    color: var(--color-secondary);
}

/* header link */
.header__link {
    flex: 1 0 auto;
}

.header__link-item {
    display: inline-block;
    position: relative;
    line-height: 36px;
    padding: 0 20px;
}

.header__link-item::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    width: calc(100% + 5px);
    height: var(--header-height);
}

.header__link-item:hover {
    border-radius: 10px;
    cursor: pointer;
    background-color: #309b38;
}

.header__link-item > a {
    font-weight: 600;
    color: var(--color-secondary);
}

/* modal */
.modal {
    visibility: hidden;
    position: relative;
}

.btn-dropdown:hover > .modal {
    visibility: visible;
}

.modal__overlay {
    position: fixed;
    inset: var(--header-height) 0 0 0;
    background-color: var(--color-overlay);
}

/*Firefox doesn't support pseudo element has*/
/* #modal-shop:has(.modal__overlay:hover){
    visibility: hidden ;
} */

@keyframes fadeOut {
    0% {
      visibility: visible;
      opacity: 0.4;
    }
    100% {
      visibility: hidden;
      opacity: 0;
    }
  }

.modal__overlay:hover,
.modal__overlay:hover + .modal__body {
    visibility: hidden;
    animation: fadeOut 0.1s ease;
}

.modal__body {
    position: absolute;
    top: 12px;
    left: -20px;
    width: 256px;
    padding: 20px 0;
    border-radius: 10px;
    text-align: left;
    background-color: var(--color-secondary);
}

.modal__body li {
    padding: 3px 20px;
}

.modal__body:has(.category:hover) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.category a {
    display: block;
    color: #333;
}

.category:hover, 
.category li:hover  {
    background-color: #eeecec;
}

.category:has(.subcategory li:hover) {
    background-color: transparent;
}

.subcategory{
    visibility: hidden;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 256px;
    height: fit-content;
    padding-bottom: 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--color-secondary);
}

.subcategory__heading{
    margin: 12px 20px 13px 20px;
    border-bottom: 1px solid #ccc;
    font-size: 1.8rem;
    font-weight: 600;
}

.category:hover > .subcategory {
    visibility: visible;
}

/* header search */
.header__search {
    display: flex;
    align-items: center;
    position: relative;
    width: 520px;
    height: 36px;
    margin: 0 24px;
    border-radius: 10px;
    background-color: var(--color-secondary);
}

.header__search:focus-within {
    outline: 2px solid #ffb800;
}

.header__search input {
    flex: 1;
    padding: 10px 80px 10px 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1.5rem;
    background-color: transparent;
}

.header__search button {
    width: 50px;
    height: 36px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #777;
    background-color: transparent;
}

/* header signin */
.modal__body--account {
    position: absolute;
    top: 12px ;
    right: -138px;
    width: 340px;
    padding-bottom: 20px;
    border-radius: 10px;
    cursor: default;
    background-color: var(--color-secondary);
}

.modal__overlay:hover,
.modal__overlay:hover + .modal__body--account {
    visibility: hidden;
    animation: fadeOut 0.1s ease;
}

.account-glance {
    padding: 20px;
}

.account-glance p {
    font-size: 1.4rem;
    line-height: 1.4;
}

.account-glance__btn {
    display: block;
    width: 230px;
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--color-secondary);
    background-color: var(--color-primary);
}

.account-glance__btn:hover {
    background-color: var(--color-tertiary);
}

.account-glance__btn + .account-glance__btn {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.account-glance__btn + .account-glance__btn:hover {
    transition: 0.3s;
    color: var(--color-secondary);
    background-color: var(--color-tertiary);
}

.account-menu {
    border-top: 12px solid #f0f2f4;
}

.account-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    color: #000;
}

.account-item:hover {
    cursor: pointer;
    background-color: #eeecec;
}

.account-item__desc {
    font-size: 1.2rem;
    font-weight: 500;
    color: #777;
}

/* header cart */
.header__cart {
    position: relative;
}

.header__cart-link {
    position: relative;
}

.header__cart-badge {
    position: absolute;
    top: -6px;
    left: 8px;
    padding: 0 4px;
    border-radius: 8px;
    line-height: 1.4rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-secondary);
    background-color: #ff0000;
}

.modal__body--cart {
    position: absolute;
    top: 12px ;
    right: -20px;
    width: 380px;
    padding: 20px ;
    border-radius: 10px;
    cursor: default;
    background-color: var(--color-secondary);
}

.modal__overlay:hover,
.modal__overlay:hover + .modal__body--cart {
    visibility: hidden;
    animation: fadeOut 0.1s ease;
}

.header__cart-body-heading {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    line-height: 1.3rem;
    font-size: 1.3rem;
    font-weight:700;
    letter-spacing: 1px;
    text-align: left;
    color: #686868;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-left: -20px;
    margin-right: -20px;
    cursor: pointer;
    color: #333;
}

.cart-item:hover {
    background-color: #eeecec;
}

.cart-item img {
    width: var(--header-height);
    height: 40px;
    border-radius: 4px;
}

.cart-item__name {
    flex: 1;
    padding-left: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
}

.cart-item__price {
    font-weight: 600;
}
.cart-item__multiply {
    margin: 0 5px;
    font-size: 1rem;
}

.cart-item__qty {
    font-size: 1.4rem;
}

.cart-item__checkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.cart-item__total {
    font-weight: 700;
    text-align: left;
}

.cart-item__checkout-btn {
    padding: 0 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-secondary);
    background-color: var(--color-primary);
}

.cart-item__checkout-btn:hover {
    background-color: var(--color-tertiary);
}

/* main part */
.main {
    min-height: 2000px;
    margin-top: var(--header-height);
}