/* header part*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #6aa057;
}

.header-content {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/* header brand */
.brand {
    display: flex;
    align-items: center;
    height: 60px;
}

.brand__tagline {
    font-size: 2.4rem;
    font-weight: 800;
    margin-right: 20px;
    color: #fff;
}

/* header link */
.header__link {
    flex: 1 0 auto;
}

.header__link-item {
    display: inline-block;
    line-height: 36px;
    padding: 0 20px;
}

.header__link-item:hover {
    border-radius: 10px;
    cursor: pointer;
    background-color: #5b884a;
}

.header__link-item a {
    font-weight: 600;
    color: #fff;
}

/* header search */
.header__search {
    display: flex;
    align-items: center;
    position: relative;
    width: 520px;
    height: 36px;
    margin: 0 24px;
    border-radius: 10px;
    background-color: #fff;
}

.header__search:focus-within {
    outline: 2px solid #ffb800;
}

.header__search input {
    flex: 1;
    padding: 10px 80px 10px 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1.5rem;
    background-color: transparent;
}

.header__search button {
    width: 50px;
    height: 36px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #777;
    background-color: transparent;
}

/* main part */
.main {
    min-height: 2000px;
    margin-top: 60px;
}
