/* header part*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #6aa057;
}

.header-content {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/* header brand */
.brand {
    display: flex;
    align-items: center;
    height: 60px;
}

.brand__tagline {
    font-size: 2.4rem;
    font-weight: 800;
    margin-right: 20px;
    color: #fff;
}

/* header link */
.header__link {
    flex: 1 0 auto;
}

.header__link-item {
    display: inline-block;
    position: relative;
    line-height: 36px;
    padding: 0 20px;
}

.header__link-item::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    width: calc(100% + 5px);
    height: 60px;
}

.header__link-item:hover {
    border-radius: 10px;
    cursor: pointer;
    background-color: #5b884a;
}

.header__link-item > a {
    font-weight: 600;
    color: #fff;
}

/* modal */
.modal {
    visibility: hidden;
    position: relative;
}

.modal::before {
    position: absolute;
    top: 0;
    left: -20px;
    content: "";
    width: calc(100% + 20px + 20px);
    height: 15px;
}

.btn-dropdown:hover > .modal {
    visibility: visible;
}

.modal__overlay {
    position: fixed;
    inset: 60px 0 0 0;
    background-color: rgba(0, 0, 0, 0.4);
}

/*Firefox doesn't support pseudo element has*/
/* #modal-shop:has(.modal__overlay:hover){
    visibility: hidden ;
} */

@keyframes fadeOut {
    0% {
      visibility: visible;
      opacity: 0.4;
    }
    100% {
      visibility: hidden;
      opacity: 0;
    }
  }

.modal__overlay:hover,
.modal__overlay:hover + .modal__body {
    visibility: hidden;
    animation: fadeOut 0.1s ease;
}

.modal__body {
    position: absolute;
    top: 12px;
    left: -20px;
    width: 256px;
    padding: 20px 0;
    border-radius: 10px;
    text-align: left;
    background-color: white;
}

.modal__body li {
    padding: 3px 20px;
}

.modal__body:has(.category:hover) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.category a {
    color: #333;
}

.category:hover, 
.category li:hover  {
    background-color: #eeecec;
}

.category:has(.subcategory li:hover) {
    background-color: transparent;
}

.subcategory{
    visibility: hidden;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 256px;
    height: fit-content;
    padding-bottom: 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
}

.subcategory__heading{
    margin: 12px 20px 13px 20px;
    border-bottom: 1px solid #ccc;
    font-size: 1.8rem;
    font-weight: 600;
}

.category:hover > .subcategory {
    visibility: visible;
}

/* header search */
.header__search {
    display: flex;
    align-items: center;
    position: relative;
    width: 520px;
    height: 36px;
    margin: 0 24px;
    border-radius: 10px;
    background-color: #fff;
}

.header__search:focus-within {
    outline: 2px solid #ffb800;
}

.header__search input {
    flex: 1;
    padding: 10px 80px 10px 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1.5rem;
    background-color: transparent;
}

.header__search button {
    width: 50px;
    height: 36px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #777;
    background-color: transparent;
}

/* main part */
.main {
    min-height: 2000px;
    margin-top: 60px;
}